/* (C)2022 Takahiro Misaka */
header{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom:20px;

}
header a{
    font-size:24pt;
    color:#777;
    text-decoration:none;
}
header a:hover{
    color:#333;
}

.btn{
    color:white;
    background-color:#777;
}
.btn:hover{
    color:white;
    background-color:#333;
}
.linklist{
    padding-left: 50px;
    line-height:2em;
    font-size:6pt;
}
.functionguide{
    padding-left: 30px;
}
.linklist a, .functionguide a.url{
    font-size:12pt;
    color:#777;
}
.linklist a:hover, .functionguide a.url:hover{color:#333}

.row{
    width:100%
}
*{
    font-size:12pt;
    line-height:1.5em;
}

pre{
    background-color:#ddd!important;
    padding:30px
}

footer{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom:20px;
    font-size:9pt;
}
